<div class="panel panel-default">
  <div class="panel-heading">
    Applications in the last 30 days
  </div>
  <div class="panel-body">
    <div id="morris-applications" class="report_chart" data-values="<%= @report.applications %>"></div>
  </div>
</div>