<% provide(:title, 'Dashboard') %>

<div class='row'>
    <div class="col-sm-12">
        <%= render 'token' %>
	</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render 'stats' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render 'trend' %>
  </div>
</div>