<table id="<%=generate_user_applications_datatable_id%>" class="table table-striped small_font">
  <thead>
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>