<% provide(:title, 'Procedures') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">Procedures</div>
      <div class="col-sm-6 text-right">
        <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="left" title="Procedures"
           data-content="Procedures contain the steps that the application process will contain. You can have different procedures for different job types."
        ><b>?</b></a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div >
      <%= link_to "New Procedure", newprocedure_path, class: "btn btn-primary btn-xs"%>
    </div>
    <div>
      <%= render "/shared/procedures_table",:add_to => false, :job_token => nil%>
    </div>
  </div>
</div>