<% provide(:title, 'Templates') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">Templates</div>
      <div class="col-sm-6 text-right">
        <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="left" title="Templates"
           data-content="Templates are questions that you create to be reused whenever you want to add screening questions to a job."
        ><b>?</b></a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div>
      <%= link_to "New Template", newtemplateq_path, class: "btn btn-primary btn-xs"%>
    </div>
    <div>
      <%= render "/shared/templates_table",:add_to => false, :job_token => nil%>
    </div>
  </div>
</div>