<p>
  <b>What is Msajili?</b>
</p>
<p>
  Msajili is a system that helps you track and manage the applications received for a job opening. This can greatly
  save time and resources while increasing productivity.
</p>
<p>
  <b>Is Msajili a job posting site?</b>
</p>
<p>
  No, Msajili is not a job posting site or a jobs board. Msajili is an applicant tracking system. It is used by
  employers to make it easy to track and organize applications for a job opening. Employers using Msajili usually
  create a job posting and then share it on an external jobs board. Form there they tell the candidates to apply
  through Msajili instead of sending CVs to an email.
</p>
<p>
  <b>Do job seekers pay to use Msajili?</b>
</p>
<p>
  No, Job seekers use Msajili absolutely for free. The only requirement is that you must have a Msajili account
  to use it.
</p>
<p>
  <b>Why should I pay to use Msajili when I can post my job openings for free on job boards?</b>
</p>
<p>
  When you post a job on a job board or a classifieds website, it's just that - a job advert. You'll have your
  candidates send their applications via email.
</p>
<p>
  Receiving applications via email is cumbersome, time consuming, error prone and just plain boring. Wasting time
  sifting through hundreds of emails translates to wasted money. You could save your time and do something more
  important to your business than downloading hundreds of CVs. If you've assigned that task to an employee don't
  you think he/she is better off doing something relating to your business?
</p>
<hr>
<pre>
    Send us your questions about Msajili to contact(at)msajili.com
</pre>