<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th width="33.3%"><h3><b>Free</b></h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1 User</td>
  </tr>
  <tr>
    <td>1 Open job</td>
  </tr>
  <tr>
    <td><%= Package::FREE_CANDIDATE_COUNT %> candidates/job</td>
  </tr>
  <tr>
    <td>Free</td>
  </tr>
  <tr>
    <td><div><h3>Ksh. <b><%=Package::FREE_PRICE%></b>/Mo.</h3></div></td>
  </tr>
  <tr>
    <td>Free forever</td>
  </tr>
  <tr>
    <td>
    <% if @current_user && @current_user.as_admin %>
        <% if @current_user.company.package == Package::FREE%>
            <p class="col-sm-12 text-center"><b>Subscribed</b></p>
        <%else%>
            <%= link_to 'Subscribe', subscribe_path(package:Package::FREE),class: 'btn btn-primary btn-block' %>
        <%end%>
    <% else %>
        <%= link_to 'Sign up', register_path(package:Package::FREE),class: 'btn btn-primary btn-block' %>
    <% end %>
    </td>
    </tr>
  </tbody>
</table>