<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th width="33.3%"><h3><b>Premium</b></h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Unlimited users</td>
  </tr>
  <tr>
    <td>Unlimited open jobs</td>
  </tr>
  <tr>
    <td>Unlimited candidates/job</td>
  </tr>
  <tr>
    <td>Pay per month</td>
  </tr>
  <tr>
    <td><div><h3>Ksh. <b><%=Package::PREMIUM_PRICE%></b>/Mo.</h3></div></td>
  </tr>
  <tr>
    <td><%=Package::PREMIUM_TRIAL_DAYS_COUNT%>-day free trial</td>
  </tr>
  <tr>
    <td>
      <% if @current_user && @current_user.as_admin %>
          <% if @current_user.company.package == Package::PREMIUM%>
              <p class="col-sm-12 text-center"><b>Subscribed</b></p>
          <%else%>
              <%= link_to 'Subscribe', subscribe_path(package:Package::PREMIUM),class: "btn btn-warning btn-block" %>
              <%end%>
              <% else %>
              <%= link_to 'Sign up', register_path(package:Package::PREMIUM),class: "btn btn-warning btn-block" %>
              <% end %>
            </td>
        </tr>
    </tbody>
</table>