<% provide(:title, 'Features') %>
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-cloud"></i> Cloud hosted</h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          Msajili is hosted on the cloud, this means that no software has to be downloaded,you do not need to pay any setup/installation charges.
          Since all the technical stuff is done by us, you do not need to hire I.T. personnel to maintain the system.
          You spend your resources on your core business functions, not on paying system admins,developers and upgrades.
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-12">
          <h2><i class="fa fa-group"></i> Collaboration</h2>
        </div>
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          Recruiting involves discussion & sharing candidate evaluations, scheduling interviews and delegating tasks.
          Msajili lets you easily organize and share all reviews and communication around a candidate.
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-list-ol"></i> Pre-screening and assessments</h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          Spend your valuable time where it is absolutely essential—interviewing highly qualified candidates.
          Your hiring managers will save significant time using a template of pre-screening questions based upon pre-determined job requirements.
          Msajili allows you to add  pre-screening questions along with weighted scoring systems that allow you to rank your candidates based upon their responses.
          This will decrease the time necessary to evaluate your applicant pool and focus on the most qualified candidates.
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-file-text-o"></i> Career page</h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          With Msajili you can have your potential future employees visit your career site where they can browse through your current job postings.
          This page can be easily branded to match your website's theme.
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-bar-chart-o"></i> Reporting and analytics</h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          Our comprehensive reporting and analytics allows HR managers to run “what-if” scenarios and strong data analysis to
          create hiring projections instead of simply filling job openings throughout the year.
          Also, you will want to run reports certifying that your hiring managers are complying with all Equal Employment Opportunity requirements.
        </div>
      </div>
    </div>
    <!-- /.row -->
</div>
<div class="col-sm-1"></div>