<% provide(:title, 'FAQ') %>
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2><b>Frequently Asked Questions</b></h2>
    </div>
    <div class="panel-body">
        <%= render 'faq' %>
    </div>
  </div>
</div>
<div class="col-sm-2"></div>

