<% provide(:title, 'Privacy Policy') %>
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2><b>PRIVACY POLICY</b></h2>
    </div>
    <div class="panel-body">
      <%= render 'privacy'%>
    </div>
  </div>
</div>
<div class="col-sm-2"></div>