<div class="row">
  <div class="col-sm-2"></div>
  <%= render '/shared/job_fields_container', :job_id => 3 %>
  <%= render '/shared/questions_container', :job_id => 3, :template_id => nil %>
  <div class="col-sm-2"></div>
</div>