<div class="text-center">
  <%= paginate @jobs %>
</div>
<% @jobs.each do |j|%>
    <%= render 'shared/job_preview', :job => j%>
    <hr/>
<% end %>
<div class="text-center">
  <%= paginate @jobs %>
</div>