RAILS_ENV=development
PORT=3000
PATH=/home/kevin/.rvm/gems/ruby-2.0.0-p576/bin:/home/kevin/.rvm/gems/ruby-2.0.0-p576@global/bin:/home/kevin/.rvm/rubies/ruby-2.0.0-p576/bin:/home/kevin/.rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
S3_BUCKET=xxxxx
AWS_ACCESS_KEY_ID=xxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxx
EMAIL_USERNAME=xxxxxxxxxx
EMAIL_PASSWORD=xxxxxxxxxx