RAILS_ENV=production
PORT=80
PATH=/home/kevin/.rvm/wrappers/msajili:/home/kevin/.rvm/gems/ruby-2.0.0-p576/bin:/home/kevin/.rvm/gems/ruby-2.0.0-p576@global/bin:/home/kevin/.rvm/rubies/ruby-2.0.0-p576/bin:/home/kevin/.rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
S3_BUCKET=xxxxxxxxx
AWS_ACCESS_KEY_ID=xxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxx