<%= render 'nav' %>
<div class="padding-10">
  <table id="admin_agent_requests_table" class="table table-striped small_font">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>