<%= render 'nav' %>
<div class="padding-10">
  <table id="admin_companies_table" class="table table-striped small_font">
    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Website</th>
      <th>Package</th>
      <th>Token</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>