<%= render 'nav' %>
<div class="padding-10">
    <table id="admin_jobs_table" class="table table-striped small_font">
      <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Applicants</th>
        <th>Status</th>
        <th>Deadline</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>