<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row"><%= render 'agent_new' %></div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
