<%= render 'nav' %>
<div class="padding-10">
  <table id="admin_users_table" class="table table-striped small_font">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Status</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>