<div class="form-group">
    <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-10"><%= f.text_area :content, rows: 2,class: 'btn-block'%></div>
          <div class="col-sm-2"><%= f.link_to_remove 'Remove',class: 'btn btn-danger btn-xs' %></div>
        </div>
      </br>
        <div class="row">
          <div class="col-sm-12"><%= f.fields_for :choices %></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><%= f.link_to_add 'Add Choice', :choices,class: 'btn btn-success btn-xs' %></div>
        </div>
    </div>
</div>
<hr/>