<p class="col-sm-12"><b>Custom fields</b>
  <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="bottom" title="Custom Fields"
     data-content="You might want to add more details to your job posting. That's where custom fields come in. Add fields like 'Salary','Duration','Academic requirements','Required experience' etc."
  ><b>?</b></a>
</p>
<div id="custom_fields">
</div>
<div class="form-group">
  <div class="col-sm-12">
    <a href="javascript:void(0)" id="addCustomField" class="btn btn-success btn-xs">Add Field</a>
  </div>
</div>