<p class="col-sm-12"><b>Add screening questions</b>
  <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="bottom" title="Screening questions"
     data-content="These are questions that will be presented to the candidate and submitted along with the application.
              They are very useful in getting additional information about the candidate."
  ><b>?</b></a>
</p>
<div id="question_fields">
</div>
<div class="form-group">
  <div class="col-sm-12">
    <a href="javascript:void(0)" id="addQuestionField" class="btn btn-success btn-xs">Add Question</a>
  </div>
</div>