<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h1><b>Edit Job</b></h1><b>step 3 of 5</b>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <p class="col-sm-12">
          <% if @job.has_procedure %>
              <b>Change procedure</b>
          <% else %>
              <b>Add procedure</b>
          <% end %>

          <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="right" title="Procedures"
             data-content="Procedures contain the stages that the application process will go through."
          ><b>?</b></a>
        </p>
      </div>
      <div class="col-sm-12">
            <% if @job.has_procedure %>
            <%= @job.procedure.title%>
                <hr/>
            <% end %>
      </div>
      <div>
        <%= render '/shared/procedures_table',:add_to => true, :job_token => @job.token%>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-3"></div>
