<html>
<body>
<div align="center">
  <table style="width: 555px; margin: 10px auto; border: 1px black solid;">
    <tr><td style="background: activecaption; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Demo request from <%= @demo.name %></h2></td></tr>
    <tr>
      <td style="text-align: left; padding: 5px 10px;">
        <p>
          Email: <strong><%= @demo.email %></strong>
        </p>
        <p>
          Phone: <strong><%= @demo.phone %></strong>
        </p>
        <p>
          Company: <strong><%= @demo.company %></strong>
        </p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>