<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Feedback from <%= @contact.name %></h1>
    <p>
       <%= @contact.message %>.
    </p>
    <p>You can reply to <%= @contact.email %></p>
  </body>
</html>