<html>
  <head>
	<title>Mail from Msajili</title>
  </head>
  <body>
    <div align="center">
	<table style="width: 555px; margin: 10px auto; border: 1px black solid;">
	  <tr><td style="background: #dfdfdf; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Your password reset link</h2></td></tr>
	  <tr>
            <td style="text-align: left; padding: 5px 10px;">
              <p><strong>Msajili</strong> received a request for a password reset from your e-mail address. We do not know
                what your password was, but here is a link for you to follow in order to set a new password.</p>
              <p>
              click <a href="<%=password_reset_url%>?token=<%= @password_request.token %>">here.</a>
              </p>
              <p>
                or copy and paste this link in your browser
                <%=password_reset_url%>?token=<%= @password_request.token %>
              </p>
              <p>
                If you did not request a password reset then simply ignore this email. The request will expire within 24 hours,
              </p>
              <p>
                Regards,<br/>
                Msajili Team.
              </p>
            </td>
	  </tr>
	</table>
    </div>
  </body>
</html>