<div id="job_field_builder_container" class="col-sm-12" data-id="<%= job_id %>">
  <div class="row builder_content padding-5"></div>
  <div class="row">
    <div class="row padding-5">
      <div class="col-sm-10">
        <div class="col-sm-6">
          <div class="footer_progress text-right" style="display: none;">
            <i class="fa fa fa-spinner fa-spin fa-2x"></i>
          </div>
        </div>
        <div class="col-sm-3">
          <a id="new_field" class="btn btn-primary btn-block" href="javascript:void(0)">
            <i class="fa fa-plus fa-lg"></i> New Field</a>
        </div>
        <div class="col-sm-3">
          <a id="save_fields" class="btn btn-success btn-block" href="javascript:void(0)">
            <i class="fa fa-floppy-o fa-lg"></i> Save</a>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="row">
    <div id="job_field_builder_footer" class="col-sm-10">
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>