<table class="table table-striped small_font" id="<%=generate_payments_datatable_id%>">
	<thead>
		<tr>
            <th>Reference</th>
			<th>Package</th>
			<th>Description</th>
			<th>Quantity</th>
            <th>Status</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>