<div id="question_builder_container" class="col-sm-12" data-job_id="<%= job_id %>" data-template_id="<%= template_id %>">
  <div class="row builder_content padding-5"></div>
  <div class="row">
    <div class="row padding-5">
      <div class="col-sm-10">
        <div class="col-sm-6">
          <div class="footer_progress text-right" style="display: none;">
            <i class="fa fa fa-spinner fa-spin fa-2x"></i>
          </div>
        </div>
        <div class="col-sm-6">
          <a id="new_question" class="btn btn-primary btn-sm" href="javascript:void(0)">
            <i class="fa fa-plus fa-lg"></i> New Question</a>
          <a id="save_questions" class="btn btn-success btn-sm" href="javascript:void(0)">
            <i class="fa fa-floppy-o fa-lg"></i> Save</a>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="row">
    <div id="question_builder_footer" class="col-sm-10">
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>