<table id="<%=generate_templates_datatable_id%>" class="table table-striped small_font" data-add_to="<%=add_to%>" data-job_token="<%=job_token%>">
  <thead>
    <tr>
      <th>Title</th>
      <th>Questions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>