<% provide(:title, 'Settings') %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Change password</b>
      </div>
      <div class="panel-body">
        <div id="setting-tabs-password">
          <%= render 'change_password'%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Account Settings</b>
      </div>
      <div class="panel-body">
        <div id="setting-tabs-preferences">
          Preferences appear here
        </div>
      </div>
    </div>
  </div>
</div>