<table id="agent_companies_table" class="table table-striped small_font">
  <thead>
  <tr>
    <th>Company</th>
    <th>Package</th>
    <th>Pending Commission</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>