#full-clndr {
    background-color: #ebebeb;
    font-weight: 700;
}
.events-list {
  overflow: scroll;
  height: 470px;
}
#full-clndr .clndr-grid {
    border-right: 2px solid white;
    float: left;
    width: 65%;
}
#full-clndr .clndr-grid .days-of-the-week {
    background-color: #3883a3;
    width: 100%;
}
#full-clndr .clndr-grid .days-of-the-week .header-day {
    color: white;
    float: left;
    padding: 14px;
    text-align: center;
    width: 14.2857%;
}
#full-clndr .clndr-grid .days {
    width: 100%;
}
#full-clndr .clndr-grid .days .day, #full-clndr .clndr-grid .days .empty {
    background-color: #ebebeb;
    background-image: url("http://kylestetz.github.io/CLNDR/css/./triangle.svg");
    background-position: center center;
    background-size: cover;
    border-bottom: 2px solid white;
    color: #4f4f4f;
    float: left;
    height: 66px;
    padding: 24px 0;
    text-align: center;
    width: 14.2857%;
}
#full-clndr .clndr-grid .days .day.event .day-number, #full-clndr .clndr-grid .days .empty.event .day-number {
    border-bottom: 2px solid #3883a3;
    padding-bottom: 4px;
}
#full-clndr .clndr-grid .days .day.adjacent-month .day-number, #full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
    opacity: 0.3;
}
#full-clndr .clndr-grid .days .today {
    background-color: white;
    background-image: none;
}
#full-clndr .event-listing {
    float: left;
    width: 35%;
}
#full-clndr .event-listing .event-listing-title {
    background-color: #71bbd2;
    color: white;
    letter-spacing: 1px;
    padding: 14px;
    text-align: center;
}
#full-clndr .event-listing .event-item {
    color: #4f4f4f;
    padding: 14px;
}
#full-clndr .event-listing .event-item-location {
    font-weight: 400;
}
.noselect {
    -moz-user-select: none;
}

#clndr-3 {
    background-color: #f4f4f4;
    box-shadow: 4px 4px 0 #343434;
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 12px;
}
#clndr-3 .month-bar {
    padding: 12px;
    text-align: center;
}
#clndr-3 .days-of-the-week {
    width: 100%;
}
#clndr-3 .days-of-the-week .header-day {
    display: inline-block;
    float: left;
    padding: 12px 0;
    text-align: center;
    width: 14.2857%;
}
#clndr-3 .days .day, #clndr-3 .days .empty {
    float: left;
    padding: 12px 0;
    text-align: center;
    width: 14.2857%;
}
#clndr-3 .days .day.today, #clndr-3 .days .empty.today {
    background-color: #ebebeb;
    box-shadow: 0 0 8px #d4d4d4 inset;
}
#clndr-3 .days .day.event, #clndr-3 .days .empty.event {
    color: #71bbd2;
}
#clndr-3 .days .day.adjacent-month .day-number, #clndr-3 .days .empty.adjacent-month .day-number {
    opacity: 0.3;
}
p {
    line-height: 1.5em;
    margin-bottom: 1em;
}
p + h3 {
    margin-top: 3em;
}

span.code {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    padding: 0 2px;
}
.block {
    padding: 80px 0;
    width: 100%;
}
.inner {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}

strong {
    font-weight: 700;
}
.bg-gray {
    background-color: #414141;
}
.bg-red {
    background-color: #ff5a45;
}
.bg-red a {
    color: #ff5a45;
}
.bg-red a:hover {
    background-color: #ffb4ab;
    color: #212121;
}
.bg-blue {
    background-color: #71bbd2;
}
.bg-green {
    background-color: #97ce7f;
}
.bg-yellow {
    background-color: #ddca9a;
}
.banner-text {
    color: #f4f4f4;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 2px 2px 2px #212121;
}
.banner-text.below {
    margin-top: 30px;
}
.banner-text.below a {
    background-color: transparent;
    color: #97ce7f;
}
.banner-text.below a:hover {
    color: #d3eac9;
}
.more-space {
    margin-top: 3em;
}
@media all and (max-width: 768px) {
    #full-clndr .clndr-grid {
        border: medium none;
        width: 100%;
    }
    #full-clndr .event-listing {
        display: none;
    }
    h1.banner-text {
        font-size: 28px;
    }
    .banner-text.below {
        font-size: 16px;
        word-wrap: break-word;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size: 14px;
    }
}
