.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:#357ebd;
  background-color: whitesmoke;
}

.navbar-default {
  background: #357ebd;
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

#home_phrase h1{
  font-weight: 800;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 50px;
}

#home_phrase2 h1{
  font-weight: 400;
  font-style: italic;
  margin-bottom: 30px;
}

#home_phrase p{
  color: #000;
  margin-bottom: 50px;
}


.logo{
  margin-top: -13px;
  max-width: 135px;
}

.no_top_margin{
  margin-top: 0;
}
.icon {
  font-size: 50px;
  color: #035995;
}

.home_screenshots{
  padding-top: 20px;
  padding-bottom: 20px;
  background: whitesmoke;
}

.home_screenshots div img{
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
}

#request_demo_modal .modal-dialog
{
  width: 400px;
}

@media screen and (max-width: 400px) {
  .home_screenshots div img {
    max-width: 100%;
    height: auto;
    margin:10px 0;
  }
}