html{
  min-height:100%;
  height:auto !important;
  height:100%;
}

body{
  background: asset-data-url("wrapper-bg.png") repeat;
  font-family: 'Open Sans', sans-serif;
}

.jqplot-grid-canvas{
  opacity: 0.0;
}

.home-body{
  padding-top: 70px;
}

.colored-line-blue {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: none repeat scroll 0 0 #008ed6;
}

.shot {
  border: 5px solid #FFFFFF;
  border-radius: 3px;
  margin: 10px;
}

.shot img {
  max-width: 100%;
  width: 100%;
}

.home-footer {
  vertical-align: middle;
  display: inline-block;
  float: none;
  font-family: 'Abel', sans-serif;
  font-size: 17px;
  width: 100%;
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #eee;
  color: #444;
  padding: 15px;
}

.scrollable {
  height: 470px;
  overflow-y: scroll;
  width: 730px;
}

.no_wrap{
  white-space: nowrap;
}
.social{
margin-left:0px;
}
.social a {
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    transition: opacity 200ms ease 0s;
    width: 22px;
	margin-right:10px;
	border: 1px solid gray;
	
	
border-radius: 24px;
/*color: #494F5C; */
color:gray;
font-size: 22px;
height: 46px; 
padding-top: 12px;
text-align: center;
text-decoration: none;
transition: all 0.2s ease 0s;
width: 46px; 
}
.social a:hover {text-decoration:none;color:#e6e6e6;border-color:#e6e6e6;}

.jumbotron{

margin-top:15px;
border: 1px solid gray;

}
.jumbotron img{
border:1px solid #ccc;
border-radius:4px;
}
.home_cont{

margin-top: 10px;
}

.role_name{
font-size:60%;
}

.main_body{
  padding: 50px;
}
.home_nav{
  padding: 10px;
  background-color: #000;
  color: #fff;
}
.large-text{
  font-size: 20px;
  color: #000;
}

.home_maintext{
  color:#fff;
  margin-top: 50px;
}

.home_search{
  padding-top: 5px;
}
.home_contact{
  background: #000;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  width:400px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);;
  margin-bottom: 15px;
}

//===================================================

.active_box{
  display: table;
  padding: 4px;

  font-size: 60px;
  color: #428BCA;

  background: #fff;
  border: 5px solid #428BCA;
  text-align: center;
}
.inactive_box{
  display: table;
  padding: 4px;

  font-size: 60px;
  color: #b0b0b0;

  background: #f9f9f9;
  border: 1px solid #b0b0b0;
  text-align: center;
}

.small_font{
  font-size: 12px;
}

.smaller_font{
  font-size: 10px;
}

.background_grey{
  background-color: #E7E7E7;
  color: #555555;
}

.right_align{
  text-align: right;
}

.html{
  color:#025895;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #000000;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li >  a:focus {
  color:#fff;
}

.navbar-default .navbar-nav > li > a {
  color:#000;
}
.navbar-default .navbar-brand {
  width: 150px;
  height: 50px;
}

a.salutation {
  /*color: #025895 !important; */
  color:#fff !important;
  font-size: 85%;
}
table thead th{
  color: #025895;
  color:#666;
}
table tbody td{
  color: #666;
}

.container h1{
  color: #035995 ;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #ccc !important;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #ccc !important;
}
.dataTables_filter{
  margin-right:20px !important;
}
.dataTables_length{
  margin-left:18px !important;
}
.jumbotron .lead{
  color: #025895;
  margin-left: 3px;
  font-family: 'Abel', Arial, serif !important; font-weight: 400;
}
.jumbotron h1{
  color:#205081;
}
.opacity50{
  opacity: 0.5; /* opacity [0-1] */
  -moz-opacity: 0.5; /* opacity [0-1] */
  -webkit-opacity: 0.5; /* opacity [0-1] */
}

.navbar-package {
  float: left;
  font-size: 11px;
  height: 50px;
  line-height: 20px;
  padding-top: 15px;
  color: #fff;
}

.navbar-names {
  float: left;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.report_chart{
  height: 200px;
}

html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.prettySocial{
  margin: 0 20px;
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #fff;
}
.prettySocial:hover {
  color: #357ebd;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-waring,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-waring,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #005384 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}

.padding-5{
  padding: 5px;
}

.padding-10{
  padding: 10px;
}

.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}

.padding-40{
  padding: 40px;
}

.career_page_header{
  padding-top: 40px;
  padding-bottom: 10px;
}

.career_page_body{
  padding-bottom: 10px;
}

.social_footer{
  width: 30px;
  height: 30px;
}