/* Screen control ======================================= */

.carousel-nav {
    margin-top: 1.5em;
    margin-left: 50px;
}

.carousel-nav a {
    float: left;
    width: 17px;
    height: 16px;
    background: image-url('bullet.png') no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 3px;
}
.carousel-nav a.active {
    background: image-url('bullet-active.png') no-repeat;
}


/* Phones =============================================== */

div.android{
    position: relative;
    width: 290px;
}

div.android > div.carousel{
    position: absolute;
}


/* Android styles */

div.android {
    background: image-url('htc_400.png') no-repeat top left;
    height: 400px;
}

div.android > div.carousel {
    left: 18px;
    top: 42px;
}

div.android > div.carousel img {
    height: 307px;
    width: 173px;
}
