// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#setting-tabs {
  padding: 0;
}
#setting-tabs .nav {
  background: repeat scroll 0 0 #3575A0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
#setting-tabs .nav-stacked > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
  padding: 0;
}
#setting-tabs .nav-pills > li > a {
  border-radius: 0;
  color: #F8F8F8;
  display: block;
  outline: medium none;
  padding: 20px 10px 20px 15px;
}
#setting-tabs .nav-pills > li.active {
  border-top-color: rgba(0, 0, 0, 0.11);
  margin: 0;
  position: relative;
}
#setting-tabs .nav-pills > li.active > a, #setting-tabs .nav-pills > li.active > a:hover, #setting-tabs .nav-pills > li.active > a:focus, #setting-tabs .nav > li > a:hover, #setting-tabs .nav > li > a:focus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}
#setting-tabs .nav-pills > li.active > a:before {
  color: #F8F8F8;
  content: "";
  font-family: FontAwesome;
  font-size: 30px;
  left: -2px;
  position: absolute;
}