<div class="fields">
	<div class="row">
		<div class="col-sm-10"><%= f.text_area :description,class: "btn-block",rows: 4, placeholder:"Responsibilities" %></div>
		<div class="col-sm-2"><%= f.link_to_remove "Remove" %></div>
	</div>
	<hr/>
</div>	