<div class="panel panel-default">
  <div class="panel-heading">
    Jobs
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-12">
            Total
          </div>
          <div class="col-sm-12">
            <b><%=@report.total_jobs%></b>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12">
            Open
          </div>
          <div class="col-sm-12">
            <b><%=@report.open_jobs%></b>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12">
            Closed
          </div>
          <div class="col-sm-12">
            <b><%=@report.closed_jobs%></b>
          </div>
        </div>
    </div>
  </div>
</div>