<div class="panel panel-default">
  <div class="panel-heading">
    <%= procedure_title %>
  </div>
  <div class="panel-body">
    <div id="morris-stages_<%=id%>" class="report_chart" data-values="<%= stages %>"></div>
  </div>
</div>