
<header class="main-header">
<!-- Logo -->
<%
   package = ''
   if logged_in? && clearance != Role.applicant
     package = Package.package_name(@current_user.company.package)
   end
%>
<div class="navbar-brand">
  <%= link_to root_path,:class => 'logo' do %>
      <b>Msajili</b>
  <%end%>
</div>
<span class="navbar-package"><%=package%></span>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
  <span class="sr-only">Toggle navigation</span>
</a>
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<li class="dropdown user user-menu">
  <%= link_to signout_path, :title => 'Logout' do %>
      <i class="fa fa-sign-out"></i> <span>Sign Out</span>
  <% end %>
</li>
</ul>
</div>
</nav>
</header>