<div class="alert alert-danger ">
  The email <%=@email%> has not been activated. Check your email for the activation instructions.
  You can resend the activation instructions <%= link_to 'Here', resend_path, class:'btn btn-success btn-xs' %>
</div>